<h2 mat-dialog-title class="modal-title">{{ authorsTitle }}</h2>

@if (authors.length > 0) {
<mat-accordion class="authors-accordion">
  @for (author of authors; track author.authorId) {
  <mat-expansion-panel [expanded]="authors.length === 1">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ author.name }}</mat-panel-title>
    </mat-expansion-panel-header>

    <div class="author-info">
      <p class="bio" [innerHTML]="cleanBio(author.bio) || 'Biografia não disponível.'"></p>
    </div>
  </mat-expansion-panel>
  }
</mat-accordion>
}

@if (authors.length === 0) {
<p class="no-authors-text">Nenhum autor encontrado.</p>
}

<div class="modal-footer">
  <button mat-flat-button color="primary" class="close-btn-bottom" (click)="closeModal()">Fechar</button>
</div>
