<div class="side-menu" [class.collapsed]="isCollapsed()">
  <button mat-icon-button class="toggle-btn" (click)="toggleMenu()">
    <mat-icon>@if(isCollapsed()) { chevron_right } @else { chevron_left }</mat-icon>
  </button>
  @if (!isCollapsed()) {
  <div class="logo-container">
    <img src="assets/logo.png" alt="Logo" class="logo" />
    <span class="version">{{version()}}</span>
  </div>
  }

  <nav>
    <ul>
      <li>
        <a routerLink="/home">
          <mat-icon>home</mat-icon>
          @if (!isCollapsed()) {
          <span>Início</span>
          }
        </a>
      </li>
      <li>
        <a routerLink="/book">
          <mat-icon>library_books</mat-icon>
          @if (!isCollapsed()) {
          <span>Livros</span>
          }
        </a>
      </li>
    </ul>
  </nav>
  <div class="menu-footer">
    <button mat-button [matMenuTriggerFor]="userMenu" class="user-button">
      <div class="user-details-container">
        <div class="user-left-group">
          <div class="user-avatar-wrapper">
            <img src="assets/avatar.png" alt="Usuário" class="user-avatar" />
          </div>
          @if (!isCollapsed()) {
          <div class="user-info">
            <span class="user-name">{{ userName() }}</span>
            <small class="user-subtitle">{{ userSubtitle() }}</small>
          </div>
          }
        </div>
        @if (!isCollapsed()) {
        <mat-icon class="dropdown-icon">keyboard_arrow_down</mat-icon>
        }
      </div>
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="usersRoute()">Usuarios</button>
      <button mat-menu-item (click)="onLogout()">Sair</button>
    </mat-menu>
  </div>
</div>
