<h2 mat-dialog-title class="modal-title">
  Alterar senha do usuário {{ userName }}
</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Nova senha</mat-label>
    <input matInput type="password" formControlName="password" autocomplete="new-password" />
    <mat-error matErrorMessages></mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Confirmar nova senha</mat-label>
    <input matInput type="password" formControlName="confirmPassword" autocomplete="new-password" />
    <mat-error matErrorMessages></mat-error>
  </mat-form-field>

  <div class="modal-footer">
    <div class="footer-right-actions">
      <button mat-flat-button color="primary" class="close-btn-bottom" type="button" (click)="onCancel()">
        <span class="btn-label">Cancelar</span>
      </button>
      <button mat-flat-button color="accent" type="submit" [disabled]="form.invalid" class="add-comment-btn">
        <span class="btn-label">Confirmar</span>
      </button>
    </div>
  </div>
</form>
